<div class="row">
	<div class="col-xs-12">
		<form autocomplete="off">
			<div class="row">
				<div class="col-xs-8 col-md-5 form-group">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-control" pattern="[A-Za-z]{3}" #ingredientName>
				</div>
				<div class="col-xs-4 col-md-2 form-group">
					<label for="amount">Amount</label>
					<input type="number" id="number" class="form-control" #ingredientAmount>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" (click) = "onAddIngredient($event); $event.preventDefault()">Add</button>
					<button class="btn btn-danger" type="button">Delete</button>
					<button class="btn btn-primary" type="button">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>